# Python environment & cache
__pycache__/
*.py[cod]
.venv/
venv/

# Datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Allow sample data folder
!data/sample/

# OS & IDE metadata
.DS_Store
Thumbs.db
.vscode/
